@use '../_abstract-variables' as var
  
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap')

* 
  box-sizing: var.$default-box
  margin: var.$null
  padding: var.$null

a 
  text-decoration: var.$none

h1, h2, h3
  font-family: var.$font-title 

h2
  font-size: var.$h2-size

li
  display: var.$li-display
  list-style: var.$none

p
  font-family: var.$font-text