@use '../abstract' as abs
  
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,600&display=swap')

* 
  box-sizing: abs.$default-box
  margin: abs.$null
  padding: abs.$null

a 
  text-decoration: abs.$none

h1, h2, h3, h4
  font-family: abs.$font-title 
  font-weight: abs.$title-weight

h2
  font-size: abs.$h2-size

input, textarea
  outline: abs.$null

li
  display: abs.$li-display
  list-style: abs.$none

p
  font-family: abs.$font-text

.form-item
  font-family: abs.$font-title
  position: abs.$form-item-position 

.float-label
  color: inherit
  position: abs.$float-label-position
  left: abs.$float-label-left
  top: abs.$float-label-top
  transition: 0.5s

.input
  color: inherit
  font-family: inherit
  font-size: 1rem
  padding: abs.$input-padding

.input:focus + .float-label,
.input:not(:placeholder-shown) + .float-label
  top: 0.3rem
  font-size: 0.75rem

.title
  font-size: abs.$title-size