@use '../_abstract-variables' as * 

$banner-bg: url('../../../media/banner.jpg')
$banner-bg-color: $primary-1
$banner-bg-size: cover
$banner-bg-position: center
$banner-height: calc(100vh - 80px)

$banner-container-align-mobile: center
$banner-container-align-desktop: left
$banner-container-margin: $margin-center
$banner-container-max-width: $max-width
$banner-container-padding: 0 10px
$banner-container-txt-color: $primary-1

$banner-title-desktop-size: 3rem
$banner-title-desktop-width: 40vw
$banner-title-margin: 0 0 1rem 0
$banner-title-mobile-size: 2rem