.banner {
  background: url("../../../media/banner.jpg");
  background-color: #8FC6EA;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 80px);
}
.banner .banner-shadow, .banner .banner-container {
  height: calc(100vh - 80px);
}
.banner .banner-shadow {
  background-color: #111a;
}

.banner-container {
  margin: auto;
  max-width: 1140px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #8FC6EA;
  padding: 0 10px;
  text-align: center;
}
.banner-container h2 {
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

@media screen and (1000px) {
  .banner-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  .banner-container h2 {
    font-size: 3rem;
    max-width: 40vw;
  }
}
.packages {
  background-color: #DDE2E6;
  padding: 5rem 10px;
  text-align: center;
}
.packages .packages-title {
  color: #034B6D;
  font-size: 2rem;
}
.packages .dash {
  background-color: #034B6D;
  height: 3px;
  margin: 0.5rem auto 2rem auto;
  width: 8rem;
}
.packages .packages-container {
  margin: auto;
  max-width: 1140px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.packages .observation {
  color: #0D2B3F;
  font-size: 1.2rem;
  padding: 2rem 0 0 0;
}
.packages .observation a {
  color: #069FE9;
}

.card {
  border-radius: 20px;
  box-shadow: 0 6px 8px 3px #0D2B3F;
  margin: 0 1rem 3rem 1rem;
  overflow: hidden;
  width: 100%;
}
.card img {
  width: 100%;
}
.card .card-title {
  color: #0D2B3F;
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0;
  text-transform: uppercase;
}
.card .description, .card .credit {
  color: #214054;
  font-size: 0.9rem;
}
.card .price {
  color: #108710;
  font-size: 1.5rem;
  margin: 1rem 0 0 0;
}
.card .credit {
  color: #7a0606;
  margin: 0 0 1rem 0;
}
.card .details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #466070;
  font-family: "Lora", serif;
  font-size: 0.9rem;
  margin: 1rem auto;
}
.card li {
  display: list-item;
  list-style: url("../../images/check-mark.png");
  margin: 0 0 0 30%;
  padding: 0.25rem 0;
}
.card .button {
  background-color: #FFC40A;
  border-radius: 0;
  color: #0D2B3F;
  padding: 0.5rem 1.5rem;
  transition: 1s;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
}
.card .button:hover {
  background-color: #0D2B3F;
  box-shadow: 0;
  color: #FFC40A;
}

@media screen and (min-width: 750px) {
  .card {
    max-width: auto;
  }
  .card li {
    margin: 0 0 0 40%;
  }
}
@media screen and (min-width: 1000px) {
  .packages .packages-container {
    align-items: direction-row;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .card .price {
    font-size: 2rem;
  }
  .card li {
    margin: 0 0 0 30%;
  }
}

/*# sourceMappingURL=home.css.map */
