@use '../abstract' as abs

.footer
  background-color: abs.$secundary-2

  &__container
    @include abs.flex-box($direction: column, $justify: space-between)

  &__credits
    order: 1

  .menu__content
    display: grid
    grid-gap: 15px
    grid-template-rows: repeat(2, 1fr)
    grid-template-columns: repeat(2, 1fr)

  .menu__item
    margin: auto

  .menu__item:last-child
    grid-column: span 2

@media screen and (min-width: abs.$tablet)
  .footer
    &__container
      flex-direction: row 

    &__credits
      order: 0