@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,600&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input {
  border: 0;
}

input, textarea {
  outline: 0;
}

li {
  display: inline-block;
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h2 {
  font-size: 3rem;
}

p {
  font-family: "Lora", serif;
}

.banner__title {
  font-size: 2rem;
  text-shadow: 5px 5px 2px black;
}

@media screen and (min-width: 750px) {
  .banner__title {
    font-size: 3.5rem;
  }
}
.btn {
  border-radius: 10px;
  color: #0D2B3F;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  transition: 1s;
}
.btn--blue {
  background-color: #8FC6EA;
}
.btn--blue:hover {
  background-color: #2380BE;
  color: #DDE2E6;
  transform: scale(1.2);
}
.btn--yellow {
  background-color: #FFC40A;
}
.btn--yellow:hover {
  background-color: #0D2B3F;
  box-shadow: 0 0 10px 3px #f6d56d;
  color: #F6D56D;
}

.card {
  border-radius: 20px;
  box-shadow: 0 6px 8px 3px #0D2B3F;
  overflow: hidden;
}
.card__img {
  width: 100%;
}
.card__title {
  font-size: 1.5rem;
  margin: 1rem 0 0.25rem 0;
  text-transform: uppercase;
  text-shadow: 0 0 3px black;
}
.card__description {
  color: #0D2B3F;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}
.card__price {
  color: #108710;
  font-size: 2rem;
  margin-top: 1rem;
}
.card__credit {
  color: #7a0606;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0;
}
.card__details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #466070;
  font-size: 0.9rem;
  margin: 1rem auto;
}
.card__detail {
  display: list-item;
  margin-left: calc(50% - 80px);
  list-style: url("../images/check-mark.png");
  padding: 0.25rem 0;
}
.card .btn {
  border-radius: 0;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

@media screen and (min-width: 750px) {
  .card__title {
    font-size: 2rem;
  }
}
.dash {
  height: 3px;
  margin: 0.75rem auto;
  width: 10rem;
}
.dash--dark {
  background-color: #034B6D;
}
.dash--light {
  background-color: #DDE2E6;
}

.description {
  font-size: 0.9rem;
}
.description--dark {
  color: #034B6D;
}
.description--light {
  color: #DDE2E6;
}

@media screen and (min-width: 750px) {
  .description {
    font-size: 1.2rem;
  }
}
.float-label {
  color: inherit;
  position: absolute;
  left: 1.5rem;
  top: calc(50% - 0.5rem);
  transition: 0.5s;
}

.form-item {
  font-family: "Roboto", sans-serif;
  position: relative;
}

.form-item__input {
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  width: 100%;
}
.form-item__input:focus + .float-label, .form-item__input:not(:placeholder-shown) + .float-label {
  top: 0.3rem;
  font-size: 0.75rem;
}

.header__logo, .header__logo img {
  cursor: pointer;
  height: 100%;
}

.header__toggle {
  height: 2rem;
  margin: 0 1rem;
  width: 2rem;
}

.info__adress {
  color: #C0C8CD;
  display: block;
  font-family: "Roboto", sans-serif;
  padding-left: 2.5rem;
  position: relative;
}
.info__adress--email::before, .info__adress--local::before, .info__adress--phone::before {
  content: "";
  left: 0;
  position: absolute;
  height: 2rem;
  top: -0.4rem;
  width: 2rem;
}
.info__adress--email::before {
  background: url("../images/email.svg"), no-repeat;
}
.info__adress--local::before {
  background: url("../images/local.svg"), no-repeat;
}
.info__adress--phone::before {
  background: url("../images/phone.svg"), no-repeat;
}

.info__text {
  color: #C0C8CD;
  text-align: center;
}

.menu__link {
  color: #F6D56D;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.menu__link:hover {
  color: #C39503;
}

.packages__observation {
  color: #0D2B3F;
  font-size: 1.2rem;
}

.observation__link {
  color: #069FE9;
}
.observation__link:hover {
  border-bottom: solid 2px #069FE9;
}

@media screen and (min-width: 1000px) {
  .packages__observation {
    font-size: 1.5rem;
  }
}
.social {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.social__item {
  background-color: #8FC6EA;
  border-radius: 50%;
  height: 3rem;
  margin: 0 3px;
  padding: 0.5rem;
  transition: 0.75s;
  width: 3rem;
}
.social__item:hover {
  background-color: #FFC40A;
}
.social__img {
  height: 100%;
  width: 100%;
}

.subscribe__img {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .subscribe__img {
    width: 30%;
  }
}
.subscribe__input {
  background-color: #DDE2E6;
  border-radius: 2rem;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
}
.title--dark {
  color: #034B6D;
}
.title--light {
  color: #DDE2E6;
}

@media screen and (min-width: 750px) {
  .title {
    font-size: 2rem;
  }
}
.banner {
  background: url("../../media/banner.jpg");
  background-color: #8FC6EA;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 80px);
  position: relative;
}
.banner--shadow {
  background-color: #111a;
  height: 100%;
  position: absolute;
  width: 100%;
}
.banner__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #8FC6EA;
  height: 100%;
  padding: 0 10px;
  position: relative;
  text-align: center;
  z-index: 10;
}

.container {
  margin: auto;
  max-width: 1140px;
}

@media screen and (2000px) {
  .container {
    max-width: 1480px;
  }
}
.header {
  background-color: #046391;
  height: 80px;
}
.header__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.header .menu {
  display: none;
}
.header .menu__content {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header .menu__item {
  padding: 0 1rem;
}
.header .btn {
  margin-left: 0.5rem;
}

@media screen and (min-width: 750px) {
  .header .menu {
    display: block;
  }
  .header__toggle {
    display: none;
  }
}
.info {
  background-color: #DDE2E6;
}
.info__container {
  background-color: #041F31;
  padding: 2rem 10px;
}
.info__adress {
  margin-bottom: 1rem;
}
.info__text {
  margin-top: 2rem;
}

@media screen and (min-width: 1000px) {
  .info {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
  }
  .info__map {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
  }
  .info__container {
    margin-left: 0;
  }
}
@media screen and (min-width: 2000px) {
  .info__map {
    width: 75%;
  }
}
.modal {
  background-color: #0D2B3FCC;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
.modal__container {
  background-color: #2380BE;
  height: 100%;
  margin-left: auto;
  width: 90vw;
}
.modal .menu, .modal .menu__content {
  height: 100%;
}
.modal .menu__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal .menu__item {
  margin: 1rem 0;
}

.modal.is-hidden {
  display: none;
}

.packages {
  background-color: #DDE2E6;
  padding: 5rem 10px;
  text-align: center;
}
.packages__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.packages .card {
  margin: 1rem 0;
  width: 100%;
}
.packages__observation {
  padding-top: 2rem;
}

@media screen and (min-width: 750px) {
  .packages .card {
    width: 60%;
  }
}
@media screen and (min-width: 1000px) {
  .packages__container {
    flex-direction: row;
    justify-content: space-between;
  }
  .packages .card {
    max-width: 31%;
  }
}
.subscribe {
  background: linear-gradient(180deg, #214054 0%, #8FC6EA 172%);
  padding: 3rem 0;
  text-align: center;
}
.subscribe__container {
  margin-top: 3rem;
}
.subscribe__form {
  padding: 0 1rem;
}
.subscribe .form-item {
  margin: 1.5rem 0;
}

@media screen and (min-width: 750px) {
  .subscribe__container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .subscribe__form {
    width: 100%;
  }
  .subscribe .form-item {
    margin-top: 0;
  }
}

/*# sourceMappingURL=home.css.map */
